<div class="box">
  <h2>Admin list users</h2>
    <ul class="ads">
        <li ng-repeat="user in userData.users" class="box" data-id="{{user.id}}">
            <h1>{{user.name}} </h1>
            <div><strong>Username: </strong>{{user.username}}</div>
            <div><strong>Email: </strong>{{user.email}}</div>
            <div ng-if='user.townName'><strong>Town: </strong>{{user.townName}}</div>
            <div ng-if='ad.townName'><strong>Town: </strong>{{ad.townName}}</div>

            <div>
                <a ng-click="getUserAdById(ad.id)" href="#/user/delete/{{user.id}}" class="button">Delete</a>
            </div>
            <div>
                <a ng-click="getUserAdById(ad.id)" href="#/user/edit/{{user.id}}" class="button">Edit</a>
            </div>
        </li>
    </ul>
</div>

<div ng-if="userData.users.length==0" class="box no-data">
    No users found.
</div>

<pagination total-items="userData.numItems" ng-model="userParams.startPage"
            items-per-page="userParams.pageSize" ng-change="getAll()"
            max-size="9" boundary-links="true">
</pagination>